<div class="body">
    <mat-tab-group>
        <mat-tab label="Feed">
            <div class="list">
                @if (feed$ | async; as feed) {
                @for (feedItem of feed; track feedItem) {
                @if(feedItem.type == 'recipe') {
                <mat-card class="item">
                    <mat-chip-set>
                        <mat-chip>Rezept</mat-chip>
                    </mat-chip-set>
                    <h2>{{feedItem.name}}</h2>
                    <h4>by {{feedItem.author}}</h4>
                    <p>
                        {{feedItem.description}}
                    </p>
                    <button mat-flat-button [routerLink]="['recipe', feedItem.id]">
                        <mat-icon>open_in_new</mat-icon>
                        Open Recipe
                    </button>
                </mat-card>
                }
                @if(feedItem.type == 'collection') {
                <mat-card class="item">
                    <mat-chip-set>
                        <mat-chip>Sammlung</mat-chip>
                    </mat-chip-set>
                    <h2>{{feedItem.name}}</h2>
                    <h4>by {{feedItem.author}}</h4>
                    <p>
                        {{feedItem.description}}
                    </p>
                    <button mat-flat-button [routerLink]="['collection', feedItem.id]">
                        <mat-icon>open_in_new</mat-icon>
                        Open Collection
                    </button>
                </mat-card>
                }
                }
                }
            </div>
        </mat-tab>

        <mat-tab label="Rezepte">
            <button mat-flat-button (click)="addRecipe()">
                <mat-icon>add</mat-icon>
                Neues Rezept
            </button>

            <div class="list">
                @if (recipes$ | async; as recipes) {
                @for (recipe of recipes; track recipe) {
                <mat-card class="item">
                    <mat-chip-set>
                        <mat-chip>Rezept</mat-chip>
                    </mat-chip-set>
                    <h2>{{recipe.name}}</h2>
                    <h4>by {{recipe.author}}</h4>
                    <p>
                        {{recipe.description}}
                    </p>
                    <button mat-flat-button [routerLink]="['recipe', recipe.id]">
                        <mat-icon>open_in_new</mat-icon>
                        Open Recipe
                    </button>
                </mat-card>
                }
                }
            </div>
        </mat-tab>

        <mat-tab label="Zutaten">
            <button mat-flat-button (click)="addIngredient()">
                <mat-icon>add</mat-icon>
                Neue Zutat
            </button>
            <div class="list">
                @if (ingredients$ | async; as ingredients) {
                @for (ingredient of ingredients; track ingredient) {
                <mat-card class="item">
                    <mat-chip-set>
                        <mat-chip>Zutat</mat-chip>
                    </mat-chip-set>
                    <h2>{{ingredient.name}}</h2>
                    <h4>{{ingredient.unit}}</h4>
                    <p>
                        {{ingredient.tags}}
                    </p>
                    <button mat-flat-button [routerLink]="['ingredient', ingredient.id]">
                        <mat-icon>open_in_new</mat-icon>
                        Open Ingredient
                    </button>
                </mat-card>
                }
                }
            </div>
        </mat-tab>

        <mat-tab label="Sammlungen">
            <button mat-flat-button (click)="addCollection()">
                <mat-icon>add</mat-icon>
                Neue Sammlung
            </button>
            <div class="list">
                @if (collections$ | async; as collections) {
                @for (collection of collections; track collection) {
                <mat-card class="item">
                    <mat-chip-set>
                        <mat-chip>Sammlung</mat-chip>
                    </mat-chip-set>
                    <h2>{{collection.name}}</h2>
                    <h4>by {{collection.author}}</h4>
                    <p>
                        {{collection.description}}
                    </p>
                    <button mat-flat-button [routerLink]="['collection', collection.id]">
                        <mat-icon>open_in_new</mat-icon>
                        Open Collection
                    </button>
                </mat-card>
                }
                }
            </div>
        </mat-tab>

        <mat-tab label="Einkaufslisten">
            <button mat-flat-button (click)="addShoppingList()">
                <mat-icon>add</mat-icon>
                Neue Einkaufsliste
            </button>
            <div class="list">
                @if (shoppingLists$ | async; as shoppingLists) {
                @for (shoppingList of shoppingLists; track shoppingList) {
                <mat-card class="item">
                    <mat-chip-set>
                        <mat-chip>Einkaufsliste</mat-chip>
                    </mat-chip-set>
                    <h2>{{shoppingList.name}}</h2>
                    <h4>by {{shoppingList.author}}</h4>
                    <p>
                        {{shoppingList.recipes}}
                    </p>
                    <button mat-flat-button [routerLink]="['shopping-list', shoppingList.id]">
                        <mat-icon>open_in_new</mat-icon>
                        Open Shopping List
                    </button>
                </mat-card>
                }
                }
            </div>
        </mat-tab>

        <mat-tab label="Benutzer">
            <button mat-flat-button (click)="addUser()">
                <mat-icon>add</mat-icon>
                Neuer Benutzer
            </button>
            <div class="table">
                @if (users$ | async; as users) {
                <table mat-table [dataSource]="users">
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef> Username </th>
                        <td mat-cell *matCellDef="let element"> {{element.Username}} </td>
                    </ng-container>

                    <ng-container matColumnDef="firstname">
                        <th mat-header-cell *matHeaderCellDef> Fistname </th>
                        <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lastname">
                        <th mat-header-cell *matHeaderCellDef> Lastname </th>
                        <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [routerLink]="['user', element.Username]">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="usersDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: usersDisplayedColumns;"></tr>
                </table>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</div>