<div class="body">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Liste 1" [(ngModel)]="name">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <input matInput placeholder="Das ist eine tolle List!" [(ngModel)]="description">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <button mat-flat-button (click)="create()">
        <mat-icon>add</mat-icon>
        Create Collection
    </button>
</div>
